html
  head
    title Add Event
  body
    form(action='/addEvent', method='post')
      | Event Date &nbsp&nbsp&nbsp
      input(type='date', name='eventDate')
      br
      | Event Name
      input(type='text', name='eventName')
      br
      | Event Id
      input(type='text', name='eventId')
      br
      | InitiatedBy
      input(type='text', name='initiatedBy')
      br
      | contactNumber
      input(type='text', name='contactNum')
      br
      | InitiatedBy
      input(type='text', name='initiatedBy')
      br
      | ApprovedBy
      input(type='text', name='approvedBy')
      br
      | InitiatedBy
      input(type='text', name='initiatedBy')
      br
      | Location
      input(type='text', name='location')
      br
      | RoomName
      input(type='text', name='roomName')
      br
      | Time
      input(type='time', name='time')
      br
      | LogisticArrangements
      input(type='text', name='logisticArrangements')
      br
      | Attendents
      input(type='text', name='attendents')
      br
      input(type='submit', name='submit')
      br
