html
  head
    title Add Event
  body
    form(action='/addEvent', method='post')
      | Event Name
      input(type='text', name='eventName')
      br
      | Date &nbsp&nbsp&nbsp
      input(type='date', name='date')
      br
      | Organizer
      input(type='text', name='organizer')
      br
      | Organizer Number
      input(type='text', name='organizerPH')
      br
      | ApprovedBy
      input(type='text', name='approvedBy')
      br
      | Location
      input(type='text', name='location')
      br
      | Place
      input(type='text', name='place')
      br
      | room
      input(type='text', name='room')
      br
      | Time
      input(type='time', name='time')
      br
      | LogisticArrangements
      input(type='text', name='logisticArrangement')
      br
      | Participants
      input(type='text', name='participants')
      br
      | EventType
      input(type='text', name='eventType')
      br
      | Purpose
      input(type='text', name='eventPurpose')
      br
      input(type='submit', name='submit')
      br
