html
  body
    a(href='/addParticipant')
      button AddParticipant
    br
    a(href='/updateParticipant')
      button UpdateParticipant
    br
    a(href='/DeleteParticipant')
      button DeleteParticipant
    br
    a(href='/viewParticipants')
      button ViewParticipants
    br
    a(href='/searchParticipant')
      button SearchParticipant
    br
