html
  head
    title Update Event
  body
    form(action='/updateEvent', method='post')
      | Event Name
      input(type='text', name='eventName')
      br
      | Date &nbsp&nbsp&nbsp
      input(type='date', name='date')
      br
      | Organizer
      input(type='text', name='organizer')
      br
      | Organizer Number
      input(type='text', name='organizerPH')
      br
      | ApprovedBy
      input(type='text', name='approvedBy')
      br
      | Location
      select(name='location')
        option(name='', value='')
        option(name='bangalore', value='bangalore') Bangalore
        option(name='chennai', value='chennai') Chennai
        option(name='pune', value='pune') Pune
        option(name='gurgoan', value='gurgoan') Gurgoan
        option(name='hyderabad', value='hyderabad') Hyderabad
      br
      | Place
      input(type='text', name='place')
      br
      | room
      input(type='text', name='room')
      br
      | Time
      input(type='text', name='time')
      br
      | Chairs
      input(type='text', name='chair')
      br
      | Tables
      input(type='text', name='tables')
      br
      | Projector
      select(name='projector')
        option(name='yes', value='yes') Yes
        option(name='no', value='no') No
      br
      | Participants
      input(type='text', name='participants')
      br
      | Billing-Type
      select(name='billingType')
        option(name='', value='')
        option(name='nonBillable', value='nonBillable') Non-Billable
        option(name='billable', value='billable') Billable
      br
      | SponseredBy
      input(type='text', name='sponseredBy')
      br
      | Purpose
      textarea(name='eventPurpose', rows='4', cols='50')
      br
      input(type='submit', name='submit')
      br
