html
  head
    title User Home
  body
    form(action='/addEvent', method='get')
      button AddEvent
    form(action='/updateEvent', method='post')
      button UpdateEvent
    form(action='/searchEvent', method='get')
      button SearchEvent
    form(action='/deleteEvent', method='get')
      button DeleteEvent
    form(action='/addParticipant', method='get')
      button AddParticipant