html
  head
    title User Home
  body
    a(href='/addEvent')
      button AddEvent
    a(href='/updateEvent')
      button UpdateEvent
    a(href='/searchEvent')
      button SearchEvent
    a(href='/deleteEvent')
      button DeleteEvent
    a(href='/ManageParticipants')
      button ManageParticipants 